* {
  box-sizing: border-box;
}

body, #root {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); 
  background-attachment: fixed; 
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  min-height: 100vh;
  padding-top: 30px;
}

.container{
  min-height: 100vh;
  display: flex;
}

h1 {
  margin: 20px 0 0;
}

.game-container {
  padding: 20px 30px;
  position: relative;
  height: 350px;
  width: 450px;
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.wrong-letters-container{
  display: flex;
  justify-content: center;
  text-align: center;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 24px;
}

.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.letter {
  border-bottom: 3px solid #fff;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #2980b9;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding-top: 50px;
  width: 100vw;
  height: 20vw;
  text-align: center;
}

button {
  cursor: pointer;
  background-color: #fff;
  color: #2980b9;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
}

button:active {
  transform: scale(1.01);
  transition: all 0.4s linear;
  opacity: 0;
}

.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
}

.notification-container p {
  margin: 0;
}

.btn-hide{
  opacity: 0;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restart-btn{
  width: 20vw;
  margin-right: 10px;
}

.notification-container{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 66vw;
  bottom:-10px;
}

.disappear{
  display: none;
}

.inst-btn{
  align-self: flex-end;
  padding-bottom: 20px;
}

.notification-pop{
  display: none;
}

.show1 {
  display: block;
  position: relative;
  bottom: 50px;
  transition: display 0.5s;
  text-align: center;
}

.show2 {
  bottom: 150px;
  display: block;
  transition: display 0.5s;
  text-align: center;
}

.instbtn-container{
  display: flex;
  align-items: center;
}

.info-btn{
  margin-top: 20px;
}